# Airflow core
AIRFLOW_UID=50000
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=generate_with_python_-c_"from_cryptography.fernet_import_Fernet;_print(Fernet.generate_key().decode())"
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__WEBSERVER__SECRET_KEY=your_secret_here

# Postgres
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# BigQuery
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/keys/gcp-keyfile.json
GCP_PROJECT_ID=your-gcp-project-id
BQ_DATASET_RAW=raw
BQ_DATASET_STAGING=staging
BQ_DATASET_MARTS=marts
